* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


/* Animation property */
.prince {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.project {
  transform: translatex(-100%);
  transform: translate(100%);
  animation: move-in 10s ease-in-out infinite;
  transform-origin: center;
}

@keyframes move-in {
  from {
    transform: translatex(-100%);
  }

  to {
    transform: translatex(30%);
  }
}
 
.spin {
  animation: spin 2s infinite alternate 3s backwards;
}
@keyframes spin {
  0%   {background-color: rgb(9, 255, 0);}
  25%  {background-color: seagreen;}
  50%  {background-color: rgb(4, 4, 100);}
  100% {background-color: green;}
}

.carou {
  margin-left: -685px;
}

.nav.active {
background-color:lightblue;
color: darkblue;
font-weight: bold;
}
